---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import { Navbar } from "../../components/Navbar.jsx";
import FormattedDate from "../../components/FormattedDate.astro";

import "../../styles/Theme.css";
import "../../styles/Diagonals.css";
import "../../styles/BlogArticle.css";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  title="Home | Alexey Antipov"
  description="Webdev Consultant & Mentor | React & Vue Expert | Team builder | ex. Flink, Zalando"
>
  <Navbar client:load />
  <main
    class="blog-article hero-bg-gradient flex w-screen items-center justify-center bg-customDarkBg1 pb-24 pt-16 sm:pb-32 md:pb-44 md:pt-16 lg:pb-24 lg:pt-24"
  >
    <article
      class="flex w-full flex-col items-center justify-center text-center md:w-[800px] xl:w-[900px]"
    >
      <main class="max-w-full">
        <div
          class="mt-10 px-12 text-sm font-normal text-customGrayText sm:px-48 sm:text-base lg:text-base"
        >
          <FormattedDate date={post.data.date} />
        </div>
        <h1 class="mt-2 px-16 text-5xl text-slate-200">{post.data.title}</h1>
        <div class="hero-image">
          <!-- {heroImage && <img width={1020} height={510} src={heroImage} alt="" />} -->
        </div>
        <div
          class="mt-4 px-12 text-left text-sm font-normal text-slate-200 sm:px-12 sm:text-base lg:text-lg xl:text-lg"
        >
          <Content />
        </div>
      </main>
    </article>
  </main>
  <Footer />
</Layout>
