---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { Navbar } from "@components/Navbar.jsx";
import { getCollection } from "astro:content";

import "../../styles/Theme.css";
import "../../styles/Diagonals.css";

const posts = (await getCollection("blog")).sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
---

<Layout
  title="Home | Alexey Antipov"
  description="Webdev Consultant & Mentor | React & Vue Expert | Team builder | ex. Flink, Zalando"
>
  <Navbar client:load />
  <main
    class="hero-bg-gradient flex w-screen items-center justify-center bg-customDarkBg1 pb-24 pt-16 sm:pb-32 md:pb-44 md:pt-16 lg:pb-24 lg:pt-24"
  >
    <section
      class="flex w-full flex-col items-center justify-center text-center md:w-[800px] xl:w-[900px]"
    >
      <h1 class="mt-16 text-4xl text-slate-200">Posts</h1>
      {
        posts.map((post) => (
          <article class="mb-8 text-sm font-bold sm:mt-4 sm:text-base">
            <a href={`/blog/${post.slug}/`}>
              <p class="mt-10 px-12 text-sm font-normal text-customGrayText sm:px-48 sm:text-base lg:text-base">
                <FormattedDate date={post.data.date} />
              </p>
              <h4 class="mt-2 text-2xl text-customSecondary">
                {post.data.title}
              </h4>
              <div class="mt-4 px-12 text-left text-sm font-normal text-slate-200 sm:px-20 sm:text-base lg:text-lg xl:text-lg">
                {post.data.summary}
              </div>
            </a>
          </article>
        ))
      }
    </section>
  </main>
  <Footer />
</Layout>
