extends layout

block content
  section.about
    h1 Alexey Antipov
    .pure-g
      .pure-u-1.pure-u-lg-3-5.pure-u-xl-4-5
        .about-wrapper.
          Hi!<br>
          I am a software engineer and I live in Berlin, Germany.<br>
          I'm in love with web development and passionate about making projects with Vue.js, React/Redux, NodeJS and other awesome tools.
      .pure-u-1.pure-u-lg-2-5.pure-u-xl-1-5(style="min-height:160px")
        img.pure-img(src='/images/myphoto3.jpg' alt="my image")
    section.projects
      h2 Projects
      p
        a(href='https://moiva.io' target="_blank" rel="noopener")
          i(class="fa fa-chart-area fa-2x")
          | Moiva.io

    section.social
      h2 Social activity
      p
        a(href='https://medium.com/@aantipov')
          i(class="fa fa-pencil-square fa-2x")
          | medium.com/@aantipov
      p
        a(href='https://www.linkedin.com/in/aantipov')
          i(class="fa fa-linkedin-square fa-2x")
          | linkedin.com/in/aantipov
      p
        a(href='https://twitter.com/_aantipov')
          i(class="fa fa-twitter-square fa-2x")
          | twitter.com/_aantipov
      p
        a(href='https://github.com/aantipov')
          i(class="fa fa-github-square fa-2x")
          | github.com/aantipov
      p
        a(href='https://stackoverflow.com/users/2874353/alexey')
          i(class="fa fa-stack-overflow fa-2x")
          | stackoverflow.com/users/2874353/alexey
    section.contact
      h2 Contact
      p
        a(href='mailto:antipov.alexei@gmail.com')
          i(class="fa fa-envelope fa-2x")
          | antipov.alexei@gmail.com

  div.footer
    p
      | © 2009-2020 Alexey Antipov
