
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="copyright" content="2009-2020, Alexey Antipov")
    meta(name="description" content="Alexey Antipov. A JavaScript applications developer.")
    meta(name="keywords"
    content="developer, web-developer, software-engineer, javascript, angularJS, angular, vueJS, vue.js, node.js, nodejs, reactjs, react, redux, flux, elm, reactive programming, html, html5, css, css3")
    meta(name="author" content="Alexey Antipov")
    link(rel='icon' type='image/png' href='/favicon.png')
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    title Alexey Antipov. Software engineer.
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/purecss@1.0.0/build/base-min.css,npm/purecss@1.0.0/build/grids-min.css,npm/purecss@1.0.0/build/grids-responsive-min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    meta(name='yandex-verification' content='43c31257b999cf8f')
    meta(name="google-site-verification" content="1il8t6RCN1ZCQgcM2ATT6Lt1rZX4XIbAZUKuW84AqPo")
    script(src="https://kit.fontawesome.com/22728e83ee.js" crossorigin="anonymous")
    script(async defer data-domain="alexei.me" src="https://plausible.io/js/plausible.js")
  body
    div.pure-g
      .pure-u-md-1-5.pure-u-0
      .pure-u-md-3-5.pure-u-1
        .wrapper
          block content
