doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="copyright", content="2009-2017, Alexei Antipov")
    meta(name="description", content="Alexei Antipov. A JavaScript applications developer.")
    meta(name="keywords",
    content="developer, web-developer, programmer, bootstrap, javascript, angularJS, angular, angular.js, node.js, nodejs, reactjs, reactive programming, веб-программирование, html, html5, xml, css, css3")
    meta(name="author", content="Alexei Antipov")
    link(rel='icon', type='image/png', href='/favicon.png')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    title Alexei Antipov. A JavaScript applications developer.
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='yandex-verification' content='43c31257b999cf8f')
    meta(name="google-site-verification" content="1il8t6RCN1ZCQgcM2ATT6Lt1rZX4XIbAZUKuW84AqPo")
  body
    div.pure-g
      .pure-u-md-1-5.pure-u-0
      .pure-u-md-3-5.pure-u-1
        .wrapper
          block content
    // Yandex.Metrika
    script(src='//mc.yandex.ru/metrika/watch.js')
    script.
      try {
        var yaCounter568094 = new Ya.Metrika(568094);
      } catch (e) {
      }
    noscript.
      <div style="position: absolute;">
      <img src="//mc.yandex.ru/watch/568094" alt=""/>
      </div>
    // /Yandex.Metrika
    // Google Analytics
    script.
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    script.
      try {
        var pageTracker = _gat._getTracker("UA-10564506-2");
        pageTracker._trackPageview();
      } catch (err) {
      }
    // /Google Analytics