html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    min-width: 300px;
    color: #333333;
    line-height: 1.5;
    font-size: 18px;
}

.wrapper {
    padding: 0 20px;
}

h1 {
    margin: 0 0 30px;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.1;
}

h2 {
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: 500;
}

a {
    color: #3f6aa7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

section {
    max-width: 800px;
    margin: 40px auto 0;
    clear: both;
}

.about-wrapper {
    padding: 0 20px 10px 0;
}

.about p {
    line-height: 1.55;
}

.social p, .contact p {
    padding: 3px 0;
    margin: 0;
}

.fa {
    padding-right: 8px;
    position: relative;
    top: 5px;
}

.footer {
    color: #636363;
    max-width: 800px;
    margin: 70px auto 30px;
    border-top: 1px solid #e5e5e5;
}
