body {
    /*font: 18px 'PT Serif', Georgia, Times, 'Times New Roman', serif;*/
    font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    line-height: 1.4;
    color: #333333;
}

h1 {
    margin: 0 0 30px;
    font-size: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: -0.5px;
}

h2 {
    margin: 0 0 10px;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

a {
    color: #428bca;
    text-decoration: none;
}

section {
    width: 800px;
    margin: 20px auto 0;
    clear: both;
}

.about img {
    height: 200px;
    width: auto;
    float: right;
}

.about p {
    line-height: 1.55;
}

.social p, .contact p {
    padding: 3px 0;
}

p.link {
    color: #428bca;
}

.fa {
    padding-right: 8px;
}

.footer {
    padding-top: 15px;
    color: #777;
    width: 800px;
    margin: 70px auto 30px;
    border-top: 1px solid #e5e5e5;
}