---
const today = new Date();
---

<footer>
	<div class="pb-12 bg-customDarkBg1 radius-for-skewed ">
	  <div class="container mx-auto px-4 w-4/5 g:w-10/12 xl:w-4/5 2xl:w-2/3">
		<p class="text-center text-sm text-gray-400 border-t border-[rgb(255,255,255,0.2)] pt-12 lg:block">
		  &copy; 2009-{today.getFullYear()} Alexey Antipov
		</p>
	  </div>
	</div>
  </footer>


