---
const today = new Date();
---

<footer>
  <div class="radius-for-skewed bg-customDarkBg1 pb-12">
    <div class="g:w-10/12 container mx-auto w-4/5 px-4 xl:w-4/5 2xl:w-2/3">
      <p
        class="text-md border-t border-[rgb(255,255,255,0.2)] pt-12 text-center text-gray-400 lg:block"
      >
        &copy; 2009-{today.getFullYear()} Alexey Antipov
      </p>
    </div>
  </div>
</footer>
