---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
// TODO: add dynamic date
// TODO: check Twitter and Open Graph info
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <meta name="yandex-verification" content="43c31257b999cf8f" />
    <meta  name="google-site-verification" content="1il8t6RCN1ZCQgcM2ATT6Lt1rZX4XIbAZUKuW84AqPo" />
    <meta name="copyright" content="2009-2023, Alexey Antipov" />
    <meta name="twitter:creator" content="@_aantipov" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Alexey Antipov" />
    <meta name="og:title" content="Alexey Antipov" />
    <script async="true" defer="true" data-domain="alexei.me" src="https://plausible.io/js/plausible.js" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
